header{
height: 600px;
padding-top: 2rem;
overflow: hidden;
padding-bottom: 2rem;
background: linear-gradient(to bottom,rgb(216, 249, 255),white);
}

.header__container{
    text-align: center;
    height: 500px;
    position: relative;

}


.cta{
    margin-top:2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}



.header__socials{
    scale: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
}



.me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem;
    overflow: hidden;
   
}

.scroll__down{
    position: absolute;
    right:-2.3rem;
    bottom:10rem;
    transform:rotate(90deg);
    font-weight: 300;
    font-size:0.9rem;
}



@media screen and (max-width:600px)  {

    .header__socials,
    .scroll__down{
        display: none;
    }
}
